<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>GetStarted</title>
    <link rel="stylesheet" href="/starter.css">
  </head>
  <body>
    <div class="container">
      <div class="about">
        <h2>Welcome to the Library Management System! 📚✨</h2>
        <p>
          This platform allows users to easily explore available books, check
          their details, and borrow or return them with ease. You can keep track
          of your borrowed books and manage your reading history effortlessly.
          With a simple and user-friendly interface, accessing your favorite
          books has never been more convenient. Get started now and enjoy a
          seamless library experience! 🚀
        </p>
      </div>
      <form action="/auth" method="get">
        <button>Get started</button>
      </form>
    </div>
  </body>
</html>
